@import "bootstrap/bootstrap.scss";
/* My own scss start here  ▼*/
/*  ---  PRE CODE  -   MOBILE FIRST  ---  */
html {
    height: 100%;
}
body {
    background: url(img/bg-white.jpg) no-repeat center center fixed;
    background-size: cover;
}
.greentext {
    color: #A5CF15; //#A5CF15
}
.greytext, .hide {
    color: $gray-500;
}
.browntext {
    color: #850A0A;
}
.actif { // logo's color managment
    color: $blue !important;
}
/*  ---  HEADER ---  */
header {
    .header_top {
        display : flex;
        justify-content: space-around;
        padding: 1rem 0;
        border-bottom: 1px solid white;
            .language {
                padding-top: 7px;
            } 
    } 
    nav { // gestion des logos 
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid white;
        .header_down {
            padding: 10px 0;
        }
        i {
            color: $white;
            font-size: 30px;
            &:hover {
                color: orange;
            }
        }
        .hide {
            display:none;
        }
    }
}

    /*  --- MAIN ---  */
#skills .title, #projects .title, #timeline .title, #presentation .title, #contact .title {    // title 5/6 PAGES 
    background-color: rgba(255, 255, 255, .5);
    padding: 1% 0 1% 5%;
    color: purple;
}
#homepage {                   // PAGE 1 - HOMEPAGE
    h1 {
        padding : 25% 10%;
    }  
}                       
#skills {                   // PAGE 2 - SKILLS      
    .training {
        margin-left: -15px;
        margin-right: -15px;
    }
}  
#projects {                   // PAGE 3 - PROJECTS  
    ul {
        list-style-type: none; 
        border: 2px solid grey;
        border-radius: 15px;
        margin: 3% 10%; 
        padding: 0;
    }
    a {
        font-size: 1.25rem;
        text-decoration: underline;   
        &:hover {
            text-decoration: none;
        }       
    }
    aside {
        background-color: rgba(236, 235, 233, 0.795);
        height: 200px;
    }
}   
#presentation {             // PAGE 5 - PRESENTATION
    .presentationTop {
        display: flex;
        flex-direction: column;
        section {
            display: inherit;
            justify-content: center;
        }
        aside {
            font-size: 4vh;
        }
    }
    .presentationMiddle {
        aside {
            justify-content: space-around;
            margin-top: 15px;
        }  
        margin-bottom: 15px;  
    }
}   
    /*  --- FOOTER ---  */
footer {
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0);
    &:hover{
        background: rgba(255, 255, 255, 1) !important;
        color: rgba(0, 0, 0, 1);
    }
}            

@media only screen and (min-width: 576px) {    /*  MEDIA QUERY   */  /*  TABLET/DESKTOP (min size of tablet h=600px*/
    body {                  /* all pages ▼*/
        display: flex;
        height: 100%;
        width: 100%;
    }
    /*  ---  HEADER ---  */
    header {
        position: fixed;
        max-width: 165px;
        display: flex;
        flex-direction: column;
        height: 100%;
        .header_top {
            flex-direction: column;
            padding-left: 15px;
        }
        nav { // gestion des logos 
            flex-direction: column;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            div {
                display: flex;
                a {
                    text-decoration: none !important;
                }
            }
            .header_down {
                height: 100%;
                text-align: center;
                justify-content: center;
                align-items: center;
                border-bottom: none;
                padding: 0 0;              
            }
            i {
                font-size: 3.5vh;
            }
            .hide {
                display:block;
            }
        }
    }
    main {
        margin-left: 165px;
    }
    /*  --- MAIN ---  */
    // Page 2 to 5 same code
    #skills, #projects, #timeline, #presentation, #contact {
        width: 100%; // main frame
    }  
    #skills .title, #projects .title, #timeline .title, #presentation .title, #contact .title {  // title frame 
        background-color: rgba(255, 255, 255, .4);
        padding: 1% 0 1% 5%;
        h2 {
            font-size: 3rem;
        }
    }  
    #homepage {                  // PAGE 1 - HOMEPAGE 
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        h1 {
            display: block;
            padding: 0 0 0 15%;
            font-size: 50px;
            line-height: 5rem;
        }
    }
                        
    #skills {               // PAGE 2 - SKILLS
        .orientaflex {    // manage how to display the cards
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .desksize {      
            width: 50%;
        }
    }
    #projects {             // PAGE 3 - PROJECTS
        ul {
            margin: 3% 25%; 
            li {
                padding-bottom: 3px;
            }
        }
        .banner {
            border: 1px solid black;
            display: grid;
            grid-template-columns: 35% auto;
            margin: 2%;  
            section, aside {
                min-height: 200px;   
            } 
            aside {
                height: 100%;
            }        
        }
    }
    #presentation {             // PAGE 5 - PRESENTATION
        .presentationTop {
            display: flex;
            flex-direction: row;
            aside {
                padding-left: 2%;
            }
        }
        .presentationMiddle {
            padding-right: 30%;
            aside {
                justify-content: space-between;
            }
            i {
                font-size: 4vh;
            }
        }
    } 
      
}

